USE [master]
GO
/****** Object:  Database [NET_QLSinhVien]    Script Date: 27/11/2022 6:04:02 CH ******/
CREATE DATABASE [NET_QLSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NET_QLSinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NET_QLSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NET_QLSinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NET_QLSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NET_QLSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NET_QLSinhVien]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 27/11/2022 6:04:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaSV] [nvarchar](20) NOT NULL,
	[MaMH] [nvarchar](20) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 27/11/2022 6:04:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](20) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK__Khoa__653904054BCAF508] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 27/11/2022 6:04:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](20) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaKhoa] [nvarchar](20) NULL,
 CONSTRAINT [PK__Lop__3B98D273E1B35201] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 27/11/2022 6:04:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](20) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
 CONSTRAINT [PK__MonHoc__2725DFD98C349629] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 27/11/2022 6:04:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](20) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgSinh] [datetime] NULL,
	[MaLop] [nvarchar](20) NULL,
 CONSTRAINT [PK__SinhVien__2725081A0326D13B] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KetQua] ([MaSV], [MaMH], [Diem]) VALUES (N'1', N'1', 5.2)
INSERT [dbo].[KetQua] ([MaSV], [MaMH], [Diem]) VALUES (N'1', N'2', 9.9)
INSERT [dbo].[KetQua] ([MaSV], [MaMH], [Diem]) VALUES (N'12', N'23', 344444)
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTP', N'Công Nghệ Thực Phẩm')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công Nghệ Thông Tin')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'01DHTP1', N'Thực phẩm 1', N'CNTP')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'11DHTH1', N'Tin học 1', N'CNTT')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'11DHTH2', N'Tin học 2', N'CNTT')
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH]) VALUES (N'1', N'NMLT')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH]) VALUES (N'2', N'Nấu cơm')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH]) VALUES (N'3', N'Code dạo')
GO
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgSinh], [MaLop]) VALUES (N'1', N'NVA', NULL, N'11DHTH1')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgSinh], [MaLop]) VALUES (N'123', N'XML IS BULL SHIT', CAST(N'9999-11-11T00:00:00.000' AS DateTime), N'123')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgSinh], [MaLop]) VALUES (N'2', N'NVB', NULL, N'11DHTH2')
GO
USE [master]
GO
